@import url(reset.css);

html{
  scroll-behavior: smooth;}
body{
  color: #333;
  margin: auto;
}

/* TOP */
.top{
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1;
}
.top a{
  display: block;
  width: 60px;
  height: 60px;
  background: url(../image/top.png) no-repeat;
  transition: 0.3s;
}
.top a:hover{
  background-image: url(../image/top_on.png);
}


/* Header */
/* Menu */
nav{
  width: 100%;
  height: 60px;
  background: rgba(10, 0, 0, 0.7);
  position: fixed;
  z-index: 2;
}
#nav_in{
  width: 1200px;
  height: inherit;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav_in .logo img{
  display: inline-block;
  width: 80px;
}
.gnb{display: flex;}
.gnb li{
  padding: 15px 20px;
  margin: 0 3px;
  transition: 0.3s;
  /* border: 1px solid red; */
}
.gnb li a{
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
}
.gnb li:hover{
  background-color: rgba(255, 17, 0, 0.623);
  transform: scale(1.1);
}

/* Main */
header{
  width: 100%;
  height: 735px;
  background-color: #000000;
}
#main{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header #main{padding-top: 60px;}
#main .main_text{
  position: absolute;
  transform: translateX(-200px);
  color: #fff;
  text-shadow: 2px 2px 3px #000;
}
#main .main_text h1{
  font-size: 40px;
  padding-bottom: 10px;
}
#main .main_text h3{
  font-size: 26px;
  padding-bottom: 10px;
}
#main .main_text .main_btn{
  display: inline-block;
  border: 2px solid #fff;
  /* background-color: #ccc; */
  box-shadow: 2px 2px 3px #000;
  color: #fff;
  font-weight: bold;
  text-shadow: none;
  width: 80px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 15px;
  padding: 5px;
  transition: 0.3s;
}
#main .main_text .main_btn:hover{
  border: 2px solid #000;
  color: #000;
  background-color: #ff5e00;
}
#main .main_video{
  display: inline-block;
  width: 1200px;
  filter: opacity(0.6);
}


/* Section */
/* Chart */
section>#chart{
  width: 100%;
  background-color: #000;
}
#chart h2{
  display: block;
  height: 80px;
  color: #fff;
  text-align: center;
  padding-top: 80px;
  /* border: 1px solid #fff; */
}
#chart .movie_chart{
  margin: auto;
  width: 1200px;
  height: 700px;
  display: flex;
}
#chart .movie_chart li{
  border-right: 5px solid #000;
  flex: 1;
  position: relative;
  overflow: hidden;
  opacity: 0.5;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#chart .movie_chart li .ch_content{
  position: absolute;
  width: 600px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  /* border: 1px solid #000; */
  opacity: 0;
  transition: 1s;
}
#chart .movie_chart li .ch_content h3{padding-bottom: 10px;}
#chart .movie_chart li:last-of-type{border-right: none;}
#chart .movie_chart li:nth-of-type(1){background: url(../image/movie_1.jpg) no-repeat center center;}
#chart .movie_chart li:nth-of-type(2){background: url(../image/movie_2.jpg) no-repeat center center;}
#chart .movie_chart li:nth-of-type(3){background: url(../image/movie_3.jpg) no-repeat center center;}
#chart .movie_chart li:nth-of-type(4){background: url(../image/movie_4.jpg) no-repeat center center;}
#chart .movie_chart li:hover{
  flex: 2;
  opacity: 1;
}
#chart .movie_chart li:hover .ch_content{
  opacity: 1;
  transition-delay: 0.3s;
}

/* Event */
section>#event{
  width: 100%;
  height: 500px;
  background-color: #270707;
  text-align: center;
}
#event .movie_event h2{
  padding: 80px 0 30px;
  color: #fff;
}
#event .movie_event ul{
  display: flex;
  width: 1200px;
  margin: auto;
}
#event .movie_event ul li{
  /* border: 1px solid #000; */
  font-size: 11px;
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  transition: 0.4s;
}
#event .movie_event ul li:hover{
  transform: scale(1.1);
}
#event .movie_event ul li .ev_content{
  /* border: 1px solid red; */
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  background-color: #fff;
  width: 280px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#event .movie_event ul li .event_img{
  display: block;
  width: 250px;
  height: 160px;
  margin: 20px 0;
}
#event .movie_event ul li .ev_content h3{
  /* border: 1px solid #000; */
  border-top: 1px solid #aaa;
  width: 260px;
  height: 50px;
  line-height: 50px;
}

/* Theater */
section>#theater{
  width: 100%;
  height: 600px;
  background-color: #fff;
  text-align: center;
}
#theater .movie_theater h2{padding: 80px 0 30px;}
#theater .movie_theater div{
  margin: auto;
  /* border: 1px solid #000; */
  display: flex;
  justify-content: right;
  align-items: center;
  width: 1200px;
  position: relative;
}
#theater .movie_theater .theater_list{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 70px;
  right: 0;
  width: 500px;
  height: 400px;
}
#theater .movie_theater .theater_list li::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 70px;
  border-radius: 20px;
  background: url(../image/theater.jpg) no-repeat top;
  display: block;
  width: 500px;
  height: 400px;
  border: 3px solid #3a0a0a;
  opacity: 0;
  transition: 1s;
  pointer-events: none;
}
#theater .movie_theater .theater_list li:nth-of-type(1)::before{
  opacity: 1;
}
#theater .theater_list li{
  border: 1px solid #aaa;
  background-color: #ffffff;
  /* box-shadow: 2px 2px 5px #000; */
  border-radius: 20px;
  width: 500px;
  height: 80px;
  transition: 0.3s;
}
#theater .theater_list li:hover{
  border: 1px solid #ddd;
  box-shadow: 0 0 3px #000;
  background-color: #fff;
}
#theater .theater_list li a{
  display: flex;
  justify-content: space-between;
  line-height: 80px;
  padding: 0 50px;
}
#theater .theater_list li p{
  background-color: #d1d1d1;
  display: flex;
  align-items: center;
  transform: translateY(27px);
  padding: 3px;
  color: #fff;
  height: 20px;
}
#theater .theater_list li:hover h4{color: orangered;}
#theater .theater_list li:hover p{background-color: orangered;}
#theater .theater_list li:nth-of-type(1):hover::before{background: url(../image/theater_1.jpg) no-repeat center/cover;}
#theater .theater_list li:nth-of-type(2):hover::before{
  background: url(../image/theater_2.jpg) no-repeat center/cover;
  opacity: 1;
}
#theater .theater_list li:nth-of-type(3):hover::before{
  background: url(../image/theater_3.jpg) no-repeat center/cover;
  opacity: 1;
}
#theater .theater_list li:nth-of-type(4):hover::before{
  background: url(../image/theater_4.jpg) no-repeat center/cover;
  opacity: 1;
}


/* Shop */
section>#shop{
  width: 100%;
  height: 700px;
  background-color: #851c02;
  text-align: center;
}
#shop .movie_shop h2{
  padding: 80px 0 30px;
  color: #fff;
}
#shop .movie_shop .shop_list{
  display: flex;
  width: 1200px;
  margin: auto;
  justify-content: center;
}
#shop .movie_shop li{
  display: flex;
  width: 300px;
  height: 400px;
  margin: 30px;
  background-color: #fff;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}
#shop .movie_shop li h3{padding: 20px 0 10px;}
#shop .movie_shop li .sh_li_ch{
  display: flex;
  align-items: center;
  text-align: left;
  width: 280px;
  height: 100px;
  margin-top: 5px;
  /* border: 1px solid #000; */
  border-radius: 20px;
  transition: 0.3s;
}
#shop .movie_shop li .sh_li_ch:hover{
  box-shadow: 0 0 5px orange;
}
#shop .movie_shop li .sh_li_ch .shop_img{
  display: block;
  width: 90px;
  padding: 0 10px;
}
#shop .movie_shop li .sh_li_ch p{
  display: inline-block;
  height: 60px;
  border-left: 1px solid #cccccc;
  padding-left: 20px;
}

/* Footer */
footer{
  width: 100%;
  height: 250px;
  background-color: #ccc;
  bottom: 0;
  font-size: 14px;
  padding-bottom: 50px;
}
.footer_box{
  width: 1200px;
  height: inherit;
  margin: 0 auto;
}
.footer_box .footer_list{
  display: flex;
  padding: 60px 30px 30px;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
  margin-bottom: 20px;
}
.footer_box .footer_list li:nth-of-type(8){
  text-decoration: underline;
  font-weight: bold;
}
.footer_box .footer_about{line-height: 25px;}
.footer_box .footer_about a{text-decoration: underline;}
.footer_box .footer_about address{font-style: normal;}